body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 800px;
}

.form-control span{
  color: #e74c3c;
  position: absolute;
  /* bottom: 0; */
  left: 0;
}
h1{
  margin-left: 280px;
  font-size: 40px;
  font-style: normal;
  display: flex;
}
.bgcolor{
  color:blue
}
.success{
  color: #2ecc71;
  position: absolute;
  
 
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.form-control{
  margin-bottom: 30px;
  position: relative;
}

input{
  width: 100%;
  border: 2px solid #f0f0f0;
  display: block;
  font-size: 14px;
  padding: 12px;
  border-radius:7px;
}

.btn{
  background: rgb(14, 14, 238);
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  margin-left: 10px;
  width:100%;
  font-weight: bold;

}

